@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titleheder {
  font-family: 'Roboto', sans-serif;
  line-height: 56px;
  font-size: 48px;
  color: #0e1724;
  margin-bottom: 10%;
  margin-top: 60px;
}

.titlePhoto {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  font-size: 20px;
  color: #0e1724;
  margin-left: 2%;
}

.article {
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #0e1724;
}

.sec2{
  margin:10px;
  width: 7%;
  padding-left: 30px;
  justify-content: start;
}
